<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
">
    <!--SpringMVC配置文件-->

    <!--声明组件扫描器-->
    <!--系统设置模块的控制层-->
    <context:component-scan base-package="com.mryang.crm.settings.web.controller"/>
    <!--工作台模块的控制层-->
    <context:component-scan base-package="com.mryang.crm.workbench.web.controller"/>
    <!--自定义异常及异常处理器的扫描-->
    <context:component-scan base-package="com.mryang.crm.exception"/>

    <!--<context:component-scan base-package="com.bjpowernode.crm"/>-->
    <!--声明视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!--声明注解驱动-->
    <mvc:annotation-driven/>

    <!--
        权限控制的拦截器
    -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--对所有的请求都拦截-->
            <mvc:mapping path="/**"/>
            <!--对登录请求放行-->
            <mvc:exclude-mapping path="/settings/user/login.do"/>
            <!--对跳转到登录页面的请求放行-->
            <mvc:exclude-mapping path="/settings/user/toLogin.do"/>
            <!--测试使用 - 对跳转到数据字典模块的请求放行-->
<!--            <mvc:exclude-mapping path="/settings/dictionary/toIndex.do"/>-->
            <!--注册的拦截器-->
            <bean class="com.mryang.crm.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 配置文件上传解析器 id:必须是multipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--上传文件最大支持5M-->
        <property name="maxUploadSize" value="#{1024*1024*5}"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>



</beans>