<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mryang.crm.workbench.mapper.ActivityMapper">
    <insert id="saveActivity">
        insert into `tbl_activity`(id, owner, name, startDate, endDate, cost, description, createTime, createBy)
        values(
            #{id},
            #{owner},
            #{name},
            #{startDate},
            #{endDate},
            #{cost},
            #{description},
            #{createTime},
            #{createBy}
            )
    </insert>


    <select id="getActivityList" resultType="activity">
        SELECT
            a.id,
            u.name as owner,
            a.name,
            a.startDate,
            a.endDate,
            a.cost,
            a.description,
            a.createTime,
            a.createBy,
            a.editTime,
            a.editBy
        FROM
            `tbl_activity` a,
            `tbl_user` u
        where a.`owner`=u.id
    </select>

    <select id="queryActivityById" resultType="activity">
        select * from `tbl_activity` where id=#{id}
    </select>

    <update id="updateActivity">
        update `tbl_activity`
        set
            owner = #{owner},
            name = #{name},
            startDate = #{startDate},
            endDate = #{endDate},
            cost = #{cost},
            description = #{description},
            editBy = #{editBy},
            editTime = #{editTime}
        where id = #{id}
    </update>

    <delete id="deleteByIds">
        delete from `tbl_activity` where id=#{id}
    </delete>
</mapper>