<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mryang.crm.workbench.mapper.ActivityMapper">


    <select id="getActivityList" resultType="activity">
        SELECT
            a.id,
            u.name as owner,
            a.name,
            a.startDate,
            a.endDate,
            a.cost,
            a.description,
            a.createTime,
            a.createBy,
            a.editTime,
            a.editBy
        FROM
            `tbl_activity` a,
            `tbl_user` u
        where a.`owner`=u.id
    </select>
</mapper>